/*
Dillon Bastan, 2019. 
This is the stylesheet for the main content in the home page.
*/


/*Main*/


.projectLinks ul {
   list-style-type: none;
}

.gprojectLinks {
   float: left;
}

a {
   font-size: small;
   line-height: 150%;
}

a:link {
  background-color: white;
}

h1 {
  background-color: white;
}

b {
   font-size: 150%;
   line-height: 200%;
}

.fakead {}

.fakeadcont {
  top: -60px;
  position: relative;
}

#side1 {
  overflow: hidden;
  float: right;
  margin-left: 15%;
  position: absolute;
  width: 50%;
  z-index: -100;
}
#side1 img {
  width: 20%;
}

#side2 {
  overflow: hidden;
  margin-left: 35%;
  position: absolute;
  width: 100%;
  z-index: -100;
  top: 20%;
}
#side2 img {
  width: 40%;
}

#side3 {
  overflow: hidden;
  margin-left: 5%;
  position: absolute;
  width: 100%;
  z-index: -100;
}
#side3 img {
  width: 70%;
}

#side4 {
  overflow: hidden;
  margin-left: 30%;
  position: absolute;
  width: 100%;
  z-index: -100;
}
#side4 img {
  width: 25%;
}

#side5 {
  overflow: hidden;
  margin-left: 10%;
  position: absolute;
  width: 10%;
  z-index: -100;
}
#side5 img {
  width: 15%;
}

/**/
