/*
Dillon Bastan, 2019. 
This is the stylesheet for the main content in the home page.
*/


/*Main*/


.projectLinks ul {
   list-style-type: none;
}

a {
   font-size: small;
   line-height: 150%;
}

b {
   font-size: large;
   line-height: 200%;
}

/**/
